p{
    text-align: center;
    margin:0px;
    padding:0px;

}
.container{
    /*width: 1200px;*/
}
.box1{
    background-color: aliceblue;
    width:100%;
    height:100%;
    position: relative;
}
.box2{
    background-color: burlywood;
    width:100%;
    height:auto;
}
.box3{
    background-color: cornsilk;
    width:100%;
    height:auto;
}
.box4{
    background-color: darksalmon;
}
.box5{
    background-color: dimgray;
}
.box6{
    background-color: beige;
}
.footer{
    background-color: darkslategrey;
    padding:50px;
    margin-top: 20px;
}
.footer p{
    text-align: left;
    color: aliceblue
}
.middle-pic{
    margin:10px 0;
}
.box1 img{
    position: absolute;
    left:40px;
}
.container .row{
    display: flex;
}
.logo img{
    /*width: 100%;*/
    max-width: 150px;
    margin: 0 auto;
    /*position:absolute;*/
    
}
.container-fluid {

}
.navbar-brand{
    /*position:absolute;*/
    width: 100%;
    background-color: darkorange;
    /*vertical-align :center;*/
}
.navbar-nav{
    width:100%;
    text-align:center;
    > li {
      float: none;
      display: inline-block;
    }
}